.DS_Store
.bundle

spec/fixtures/kms.test.credentials
hcentive-kms-0.0.1.gem
kms-0.0.1.gem
support/*
spec/factories.rb
.yardoc
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
