[default]
aws_access_key_id = <default access key id>
aws_secret_access_key = <default secret key>
region = us-east-1

[profile-with-encrypt-permissions]
aws_access_key_id = <access key id with encrypt permissions>
aws_secret_access_key = <secret key for access key id with encrypt permissions>
region = us-east-1

[profile-with-decrypt-permissions]
aws_access_key_id = <access key id with only decrypt permissions>
aws_secret_access_key = <secret key for access key id with only decrypt permissions>
region = us-east-1
